<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
<title>Document</title>
<style>
    body {
        background: #eee
    }
    #container {
        text-align: center;
        padding: 10px;
    }
    #dogvscatBox {
        text-align: center;
    }
    #dogvscatContent {
        text-align: center;
    }
    .box {
        float:left;
    }
</style>
</head>
<body>
        <div id="container">
            <div id="dogvscatBox">
                <div id="dogvscatTitle">Dogs vs. Cats</div>
                <div id="dogvscatContent">
                    <div class="box" id="question">Who is our best friend? Let's Decide</div>
                    <div class="box" id="dogvscatPic"><img src="cid:dogandcat"/></div>
                </div>
            </div>
        </div>
   {{!-- <table>
       <tr>
           <th>Dog vs. Cats</th>
       </tr>
        <tr>
           <td>Who is our best friend? Let's Decide</td>
           <td><img src="cid:dogandcat"/></td>
       </tr>
   </table> --}}

</body>
</html>