<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<style>
    #wrapper{
        padding: 20px;
        background: #eee;
        width: 600px;
    }
    .learnMoreBtn {
        background: rgb(187, 187, 187);
        color: white;
        font-family: arial;
        font-size: 16px;
        border: none;
        padding: 15px;
        cursor: pointer;
        width: 50%;
    }
    .pic {
        vertical-align: top;
    }
    /* Dog vs Cat --------------------*/
    #dogvscatBox {
        width: 100%;
        padding: 20px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        text-align: center;
        background: rgb(118, 77, 151);
    }
    #dogvscatTitle{
        font-family: arial;
        font-size: 40px;
        color: white;
        padding-bottom: 20px;
    }
    #question{
        font-family: arial;
        font-size: 16px;
        color: white;
        vertical-align: top;
        padding-top: 5%;
    }
    #dogandcatPic {
        width: 275px;
        height: 400px;
        vertical-align: bottom;
    }
    /* Dog  --------------------*/
    #dogBox {
        padding: 20px;
        width: 100%;
        margin:auto;
        background: white
    }
    #dogContent{
        vertical-align: top;
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
    #dogPic {
        width: 200px;
        height: 135px;
    }
    #dogP{
        color: rgb(90, 89, 89);
        font-family: arial;
        font-size: 16px;
        margin-top: 0;
        line-height: 18px;
    }
    .dogIcon {
        color:rgb(158, 157, 157);
        font-family: arial;
        font-size: 14px;
        line-height: 75%;
    }

    /* Cat --------------------*/
    #catBox {
        padding: 20px;
        padding-top: 10px;
        width: 100%;
        margin:auto;
        background: white
    }
    #catContent{
        vertical-align: top;
        padding: 2.5%;
    }
    #catPic {
        width: 200px;
        height: 135px;
    }
    #catP{
        color: rgb(90, 89, 89);
        font-family: arial;
        font-size: 16px;
        margin-top: 0;
        line-height: 18px;
    }
    .catIcon {
        color:rgb(158, 157, 157);
        font-family: arial;
        font-size: 14px;
        line-height: 75%;
    }

    /* Turtle -------------------- */
    #turtleBox {
        padding: 20px;
        width: 100%;
        margin:auto;
        background: white
    }
    #turtleContent{
        vertical-align: top;
        padding: 2.5%;
    }
    #turtleP{
        color: rgb(90, 89, 89);
        font-family: arial;
    }
    #turtleTitle{
        width: 100%;
        font-family: arial;
        font-size: 24px;
        color: rgb(90, 89, 89);
        text-align: center;
    }
    #turtleTitleSmall{
        width: 100%;
        font-family: arial;
        font-size: 16px;
        color: rgb(158, 157, 157);
        padding: 1px;
        text-align: center;
    }
    .turtleTitleRow{
        padding: 100px;
    }
    .turtleLabel {
        color:rgb(90, 89, 89);
        font-family: arial;
        font-size: 16px;
    }
    .turtleInfo {
        color:rgb(158, 157, 157);
        font-family: arial;
        font-size: 14px;
        margin-top: 5px;
    }
    #turtlePic {
        width: 275px;
        height: 400px;
        vertical-align: bottom;
    }
    /* Media Queries -------------------- */
    @media screen and (max-width: 400px) {
        td {
            display: block;
        }
        #question {
            padding-top: 2.5%;
            padding-bottom: 15%;
        } 
        #dogPic{
            width: 100%;
            height: 145px;
        }  
        #catPic{
            width: 100%;
            height: 145px;
        }
        #turtlePic{
            width: 100%;
        }
        .learnMoreBtn {
            width: 100%;
        }
    }
</style>
</head>
<body>
   <div id="wrapper">    
    <table id="dogvscatBox" align="center">
        <tr id="dogvscatTitleRow" >
            <td id="dogvscatTitle" Colspan="2">Dogs vs. Cats</td>
        </tr>
        <tr id="dogvscatTRow">
            <td id="question">Who is our best friend? Let's Decide!</td>
            <td class="pic" id="dogandcatPicBox"><img id="dogandcatPic" src="cid:dogandcat"/></td>
        </tr>
    </table>
    <table id="dogBox">
            <tr id="dogRow">
                <td class="pic" id="dogPicBox"><img id="dogPic" src="cid:dog"/></td>
                <td id="dogContent">
                    <p id="dogP">
                        <strong>The love you get from a dog is unlike anythng else in the world, purer than human love.</strong>
                    </p>
                    <p class="dogIcon">🗸 Loyal</i></p>
                    <p class="dogIcon">🗸 Playful</i></p>
                    <p class="dogIcon">🗸 Your friend</i></p>
                    <a href="https://en.wikipedia.org/wiki/Dog" target="blank"><button class="learnMoreBtn">Learn More</button></a>
                </td>
            </tr>
    </table>
    <table id="catBox">
            <tr id="catRow">
                <td id="catContent">
                    <p id="catP">
                        <strong>Cats are independent, so they're good pets to have if you don't have too much time at home to devote to one.</strong>
                    </p>
                    <p class="catIcon">🗸 Independent</i></p>
                    <p class="catIcon">🗸 Quiet love</i></p>
                    <p class="catIcon">🗸 Maintenance</i></p>
                    <a href="https://en.wikipedia.org/wiki/Cat" target="blank"><button class="learnMoreBtn">Learn More</button></a>
                </td>
                <td class="pic" id="catPicBox"><img id="catPic" src="cid:cat"/></td>
            </tr>
    </table>
    <table id="turtleBox">
            <tr class="turtleTitleRow">
                <td id="turtleTitle" Colspan="2">But You Are Wrong</td>
            </tr>
            <tr class="turtleTitleRow">
                <td id="turtleTitleSmall" Colspan="2">Turtles FTW!</td>
            </tr>
            <tr id="turtleRow">
                <td id="turtleContent">
                    <label class="turtleLabel"><b>Easy Care</b></label>
                    <p class="turtleInfo">Can eat dried food, live food, or pizza</p>
                    <label class="turtleLabel"><b>Saves the World</b></label>
                    <p class="turtleInfo">While you pick up dog poop</p>
                    <label class="turtleLabel"><b>Get Along with Other Animals</b></label>
                    <p class="turtleInfo">Especially rats</p>
                    <label class="turtleLabel"><b>Heroes in a Half Shell</b></label>
                    <p class="turtleInfo">With cool names such as Leonardo, Michelangelo, Donatello, and Raphael</p>
                    <a href="https://en.wikipedia.org/wiki/Turtle" target="blank"><button class="learnMoreBtn">Learn More</button></a>
                </td>
                <td class="pic" id="turtlePicBox"><img id="turtlePic" src="cid:turtle"/></td>
            </tr>
    </table>
   </div> 
</body>
</html>